---
import { Image } from "astro:assets";
import wareweLogo from "../assets/warewe-logo.png";
import redsorpLogo from "../assets/redsorp-logo.png";
import paperbotAiLogo from "../assets/paperbot-ai-logo.png";
import saasYogiLogo from "../assets/saas-yogi-logo.png";
---

<div class="container mx-auto px-6 pb-20 lg:pb-32">
  <p
    class="text-center text-sm font-semibold text-slate-500 dark:text-slate-400 mb-8 uppercase tracking-widest"
  >
    Leading Brands and Agencies Using emailverifier.io
  </p>
  <div
    class="flex flex-wrap justify-center items-center gap-x-12 gap-y-6 opacity-70"
  >
    <Image
      alt="Warewe logo"
      class="h-6 filter grayscale dark:invert"
      src={wareweLogo}
    />
    <Image
      alt="RedSorp.com logo"
      class="h-6 filter grayscale dark:invert"
      src={redsorpLogo}
    />
    <Image
      alt="Paperbot AI logo"
      class="h-7 filter grayscale dark:invert"
      src={paperbotAiLogo}
    />
    <Image
      alt="SaaS Yogi logo"
      class="h-7 filter grayscale dark:invert"
      src={saasYogiLogo}
    />
  </div>
</div>